{
  "host": "127.0.0.1",
  "port": 9000,
  "dburl": "mongodb://localhost/image-api",
  "provider": {
    "storage": {
      "classpath": "./provider/AwsS3StorageProvider.js",
      "storagepath": "images",
      "local": {
        "serveFiles": true,
        "servePath": "/images"
      },
      "awsS3Bucket": "wolke-dev",
      "awsAccessKeyId": "aws access key",
      "awsSecretAccessKey": "aws secret key",
      "awsRegion": "aws region",
      "cdnurl": "url from were the images are served from"
    },
    "auth": {
      "use": true,
      "classpath": "./provider/SimpleAuthProvider.js",
      "token": "token to use"
    }
  }
}