{
  "host": "127.0.0.1",
  "port": 9000,
  "dburl": "mongodb://localhost/image-api",
  "provider": {
    "storage": {
      "classpath":"./provider/FileStorageProvider.js",
      "storagepath":"images"
    },
    "auth": {
      "use":false,
      "classpath":""
    }
  }
}