{
  "host": "127.0.0.1",
  "port": 9000,
  "dburl": "mongodb://localhost/image-api",
  "env": "development",
  "track":"",
  "provider": {
    "auth": {
      "use": true,
      "id": "simple_auth",
      "token": "memes",
      "whitelist": [
        {
          "path": "/"
        },
        {
          "path": "/info*",
          "method": "get"
        },
        {
          "path": "/random",
          "method": "get"
        },
        {
          "path": "/tags",
          "method": "get"
        },
        {
          "path": "/types",
          "method": "get"
        },
        {
          "path": "/images*",
          "method": "get"
        },
        {
          "path": "/permnode"
        }
      ]
    },
    "storage": {
      "id": "local",
      "path": "/images",
      "cdn_url": "https://my-memes-are-the-best.com"
    }
  }
}
